#                                 __      
#     ___  _  ______  ____  _____/ /______
#    / _ \| |/_/ __ \/ __ \/ ___/ __/ ___/
#  _/  __/>  </ /_/ / /_/ / /  / /_(__  ) 
# (_)___/_/|_/ .___/\____/_/   \__/____/  
#           /_/                        

# Configure fzf to use rg
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'

 # Preferred editor for local and remote sessions
export EDITOR='nvim'

# Pyenv Autocompletion
export PYENV_ROOT=/usr/local/var/pyenv

# Don't underline paths in the terminal
ZSH_HIGHLIGHT_STYLES[path]=none

# Set terminal colors if tmux is enabled
# export TERM=tmux-256color
