set gdefault
let mapleader = ' '
set expandtab
set softtabstop=4
set tabstop=4
set shiftwidth=4

set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed,unnamedplus
set scrolloff=3
set showmode
set showcmd
set surround

" Clear search
noremap <leader>sc :nohls<CR>

" Easy window navigation https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" ============================================================================
" Movement
" ============================================================================

" Scroll screen with the cursor
noremap <C-j> gj<C-e>
noremap <C-k> gk<C-y>

" Home row beginning / end of line
noremap H ^
noremap L $

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv

" ============================================================================
" IDE actions
" ============================================================================

" Enter the command-line mode
noremap <CR> :

" Finding
nnoremap / :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap <leader><Space> :action SearchEverywhere<CR>
nnoremap <leader>/ :action FindInPath<CR>

" Jumping
nnoremap <leader>gg :action AceAction<CR>
nnoremap <leader>gl :action AceLineAction<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nmap <leader>[ :action Back<cr>
nmap <leader>] :action Forward<cr>

" Code Navigation
nnoremap <leader>nth :action TypeHierarchy<CR>
nnoremap <leader>nga :action GotoAction<CR>
nnoremap <leader>ngd :action GotoDeclaration<cr>
nnoremap <leader>ngi :action GotoImplementation<cr>
nnoremap <leader>ngs :action GotoSuperMethod<cr>
nnoremap <leader>ngt :action GotoTest<cr>

" Buffers and windows
nnoremap <leader>wrf :action RecentFiles<CR>
nnoremap <leader>wfs :action FileStructurePopup<CR>
nnoremap <leader>wqt :action CloseActiveTab<cr>
nnoremap <leader>wnt :action NextTab<CR>
nnoremap <leader>wpt :action PreviousTab<CR>
nnoremap <leader>wfp :action VimFilePrevious<CR>
nnoremap <leader><Tab> :action Switcher<CR>
nnoremap <leader>wha :action HideAllWindows<CR>
nnoremap <leader>wfs :action ToggleFullScreen<CR>
nnoremap <leader>wdf :action ToggleDistractionFreeMode<CR>
nnoremap <leader>wcv :action ChangeView<cr>
nnoremap <leader>wvs :action SplitVertically<cr>

" Project
nnoremap <leader>pnf :action NewFile<CR>
nnoremap <leader>prf :action RenameFile<cr>
nnoremap <leader>psd :source ~/.ideavimrc<CR>

" Refactoring
nnoremap <leader>roi :action OptimizeImports<cr>
nnoremap <leader>rre :action RenameElement<cr>
nnoremap <leader>rrf :action ReformatCode<CR>
nnoremap <leader>rrc :action RearrangeCode<CR>
nnoremap <leader>rql :action Refactorings.QuickListPopupAction<CR>

" Inspection
nnoremap <leader>iic :action InspectCode<cr>
nnoremap <leader>ied :action ShowErrorDescription<cr>
nnoremap <leader>ifu :action FindUsages<cr>
nnoremap <leader>isu :action ShowUsages<cr>
nnoremap <leader>ihu :action HighlightUsageInFile<CR>

" Editing
nnoremap gcc :action CommentByLineComment<cr>
vmap gc :action CommentByLineComment<CR>
nnoremap U :action $Redo<CR>
nnoremap J :action EditorJoinLines<CR>
nnoremap <leader># :action Annotate<CR>

" Code Generation
nnoremap <leader>cnc :action NewClass<CR>
nnoremap <leader>com :action OverrideMethods<CR>
nnoremap <leader>ccs :action ChangeSignature<CR>
nnoremap <leader>cem :action ExtractMethod<CR>
nnoremap <leader>cev :action ExtractVariable<CR>
nnoremap <leader>cef :action ExtractField<CR>

" Version Control
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Run and Debug
nnoremap <leader>dlb :action ToggleLineBreakpoint<cr>
nnoremap <leader>dvb :action ViewBreakpoints<cr>
nnoremap <leader>drc :action ChooseDebugConfiguration<cr>
nnoremap <leader>drc :action ChooseRunConfiguration<cr>

