encryption = "age"

[age]
    identity = "~/.config/chezmoi/chezmoi-key.txt"
    recipient = "age1h70epannavmg58f2ptjelwqx0lpm47w6z8qwp2dwh76fe7sr3f4ssta0hw"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.pre-read-hook.sh"

[data]
{{- if eq .chezmoi.os "darwin" }}
    bin_directory = "/opt/homebrew/bin"
    zed_binary = "zed"
    homebrew_prefix = "/opt/homebrew"
    fzf_shell_dir = "/opt/homebrew/opt/fzf/shell"
    stat_mtime_day_cmd = "stat -f '%Sm' -t '%j' \"$zcompdump\" 2>/dev/null || echo \"\""
    postgresql_bin_path = "/opt/homebrew/opt/postgresql@15/bin"
    coreutils_gnubin_path = "/opt/homebrew/opt/coreutils/libexec/gnubin"
{{- else }}
    bin_directory = "/usr/bin"
    zed_binary = "zeditor"
    fzf_shell_dir = "/usr/share/fzf"
    stat_mtime_day_cmd = "date -d @$(stat -c '%Y' \"$zcompdump\" 2>/dev/null || echo 0) +'%j' 2>/dev/null || echo \"\""
{{- end }}
    profile = "{{ promptStringOnce . "profile" "Profile (work/personal)" }}"
