# IntelliJ IDEA IDE
.idea

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files that contain credentials or personal info
.creds
.extra
.boto
.mrjob.conf
.s3cfg
.aws/
**/weather.txt
**/extra.zsh

# Emacs files
.projectile

# Repo scratch directory
scratch/

# generated emacs config
**/emacs.el
**/*.elc
