set gdefault
let mapleader = ' '
set expandtab
set softtabstop=4
set tabstop=4
set shiftwidth=4

set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed,unnamedplus
set scrolloff=5
set showmode
set showcmd
set surround

" Clear search
noremap <leader>sc :nohls<CR>

" Easy window navigation https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" ============================================================================
" Movement
" ============================================================================

" Scroll screen with the cursor
noremap <C-j> gj<C-e>
noremap <C-k> gk<C-y>

" Home row beginning / end of line
noremap H ^
noremap L $

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv

" ============================================================================
" IDE actions
" ============================================================================

" Enter the command-line mode
noremap <CR> :

" Finding
nnoremap / :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap <leader><Space> :action SearchEverywhere<CR>
nnoremap <leader>/ :action FindInPath<CR>
nnoremap <leader>k :action HighlightUsageInFile<CR>

" Jumping
nnoremap s :action AceJumpAction<CR>
nnoremap <leader>o :action GotoClass<CR>
nnoremap <leader>O :action GotoFile<CR>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nmap <leader>[ :action Back<cr>
nmap <leader>] :action Forward<cr>

" Code Navigation
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>
nnoremap ]c :action GotoNextError<CR>
nnoremap [c :action GotoPreviousError<CR>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gt :action GotoTest<cr>

" Buffers and windows
nnoremap <leader>d :action CloseContent<CR>
nnoremap <leader>Q :action ReopenClosedContent<CR>
nnoremap <leader>br :action RenameFile<cr>
nnoremap <leader>bb :action RecentFiles<CR>
nnoremap <leader>k :action FileStructurePopup<CR>
nnoremap <leader>q  :action CloseActiveTab<cr>
nnoremap <leader>x :action NextTab<CR>
nnoremap <leader>z :action PreviousTab<CR>
nnoremap <leader>\ :action VimFilePrevious<CR>
nnoremap <leader><Tab> :action Switcher<CR>
nnoremap <leader>wh :action HideAllWindows<CR>
nnoremap <leader>wm :action ToggleFullScreen<CR>
nnoremap <leader>wM :action ToggleDistractionFreeMode<CR>
nnoremap <leader>cv :action ChangeView<cr>

" Project
nnoremap <leader>bn :action NewFile<CR>

" Refactoring
nnoremap <leader>ri :action InspectCode<cr>
nnoremap <leader>rm :action OptimizeImports<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>ra :action RearrangeCode<CR>
nnoremap <leader>rl :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>e :action ShowErrorDescription<cr>

" Editing
nnoremap gcc :action CommentByLineComment<cr>
nnoremap U :action $Redo<CR>
nnoremap <leader># :action Annotate<CR>
nnoremap <leader>nc :action NewClass<CR>

" Version Control
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Run and Debug
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dv :action ViewBreakpoints<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>

nnoremap <leader>vs :source ~/.ideavimrc<CR>
