! color scheme
#include </home/antares/.xcolors/onedark.xcolors>

! Xft
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!st
st.font: Office Code Pro D-11

! not sure if needed
XTerm*metaSendsEscape: true
