let mapleader = " "
scriptencoding utf-8
set autoindent
set completeopt-=preview
set conceallevel=2
set expandtab
set gdefault
set hidden
set ignorecase
set visualbell
set noerrorbells
set nolazyredraw
set noshowmode
set noswapfile
set nowrap
set nonumber
set scrolloff=3
set shell=/usr/local/bin/fish
set shiftround
set shiftwidth=2
set showcmd
set smartcase
set smartindent
set softtabstop=2
set splitbelow
set splitright
set tabstop=2
set textwidth=0
set timeoutlen=1000
set ttimeoutlen=0
set autoread
set undodir=~/.undo
set undofile
set undolevels=100000
set foldlevelstart=20
set showtabline=0

set commentary
set easymotion
set surround

let g:EasyMotion_do_mapping=0
" nnoremap <Space> <Nop>


map s <Plug>(easymotion-s2)
map <leader><leader> <Action>(SearchEverywhere)

" --------------------------------- Windows -----------------------------
" alt + hjkl to move around splits
nnoremap <A-j> <C-w>j
nnoremap <A-k> <C-w>k
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l

" split editor and focus
nnoremap <leader>wv <C-w>v<C-w>l
nnoremap <leader>ws <C-w>s<C-w>j

map <leader>bd <Action>(CloseContent)
map <leader>q <Action>(CloseAllEditors)

map <C-l> <Action>(NextTab)
map <C-h> <Action>(PreviousTab)
map <leader>wo <Action>(CloseAllEditorsButActive)

" --------------------------------- Files -----------------------------

map <leader>fh <Action>(RecentFiles)
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>fo <Action>(GotoSymbol)
map <leader>fa <Action>(GotoAction)

" --------------------------------- Ideavim -----------------------------

nnoremap <leader>vr :source ~/.ideavimrc<CR>
map <leader>Q <Action>(Exit)
map <leader>: <Action>(GotoAction)
noremap <leader>ve :e ~/.ideavimrc<CR>
map <leader>bt <Action>(SelectIn)

" --------------------------------- Interface -----------------------------

map <leader>iz <Action>(ToggleDistractionFreeMode)
map <leader>il <Action>(EditorToggleShowIndentLines)
map <leader>iw <Action>(EditorToggleShowWhitespaces)
map <leader>it <Action>(EditorToggleUseSoftWraps)
map <leader>iu <Action>(EditorIncreaseFontSize)
map <leader>id <Action>(EditorDecreaseFontSize)

" --------------------------------- Refactoring -----------------------------

map <leader>cr <Action>(RenameElement)
map <leader>ch <Action>(HighlightUsagesInFile)
map <leader>cu <Action>(FindUsages)
map <leader>cc :nohlsearch<CR>
map <leader>cs <Action>(InsertLiveTemplate)

" --------------------------------- Git -----------------------------

map <leader>gn <Action>(JumpToNextChange)
map <leader>gp <Action>(JumpToPreviousChange)
map <leader>gs <Action>(CIDR.Lang.SwitchHeaderSource)
map <leader>gL <Action>(Vcs.Show.Log)
map <leader>gl <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gd <Action>(Vcs.Show.Local.Changes)
map <leader>gb <Action>(Annotate)

" --------------------------------- Errors -----------------------------

map gh <Action>(ShowErrorDescription)
map <leader>ge <Action>(GotoNextError)
map <leader>gE <Action>(GotoPreviousError)
map <leader>el <Action>(CodeInspection.OnEditor)
map <leader>es <Action>(RunInspection)

" --------------------------------- Windows -----------------------------

map <leader>ot <Action>(ActivateTerminalToolWindow)


" --------------------------------- Run -----------------------------

map <leader>rd <Action>(Debug)
map <leader>rr <Action>(Run)
map <leader>rb <Action>(Build)