/*****************************************************************************/
/*                                   THEMES                                  */
/*****************************************************************************/

:root {
  --font-size: 12px;
  --font-weight: normal;
  --font: "JetBrainsMonoMedium Nerd Font", Source Code Pro, sans;
  --padding: 2px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* ---------- DOOM ONE ---------- */
  --fg: #51afef;
  --bg: #2e3440;
  --border: #282c34;
  --main-fg: #51afef;
  --accent-fg: #98be65;
  --hints: #ecbe7b;
}
/*****************************************************************************/
/*                                    CSS                                    */
/*****************************************************************************/

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  padding: 3px 4px;
}

#vimiumHintMarkerContainer div span {
  color: var(--hints);
  font-family: var(--font);
  font-size: 16px !important;
  font-weight: var(--font-weight);
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--hints);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  background: var(--bg);
  border: none;
  box-shadow: var(--shadow);
}

/* Animate Slide in */
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--hints);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#vomnibar .vomnibarSearchArea {
  padding: var(--padding) 30px;
}

#vomnibar input {
  padding: var(--padding);
}

#vomnibar ul {
  background: var(--bg);
  border-top: 1px solid var(--border);
  margin: 0;
  padding: var(--padding);
}

#vomnibar li {
  border-bottom: 1px solid var(--border);
  padding: var(--padding);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: var(--padding) 0;
}

#vomnibar li .vomnibarSource {
  color: var(--main-fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--main-fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#vomnibar li .vomnibarUrl {
  color: var(--fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#vomnibar li .vomnibarMatch {
  color: var(--accent-fg);
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--main-fg);
}

#vomnibar li.vomnibarSelected {
  background-color: var(--border);
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
}
