frame = "full"
maximized = true
system-native-tabs = true
title-hidden = false
{{- if eq .chezmoi.os "darwin" }}
icon = "{{ .chezmoi.homeDir }}/.local/share/neovide/neovim.icns"
{{- end }}

[font]
normal = ["PragmataPro Mono Liga"]
size = 16.0
