theme = mariana-custom
font-family = "GeistMono Nerd Font"
adjust-cursor-thickness = 3
font-thicken = true
adjust-underline-position = 40%
command = "nu --config='~/.config/nushell/config.nu' --env-config='~/.config/nushell/env.nu'"

# custom-shader = /Users/kylecierzan/git/ghostty-shaders/bettercrt.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/bloom.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/glow-rgbsplit-twitchy.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/in-game-crt.glsl
