theme = carbonfox
font-family = "Lilex Nerd Font Mono"
adjust-cursor-thickness = 3
adjust-cell-height = 8
font-thicken = true
adjust-underline-position = 10%
command = "nu --config='~/.config/nushell/config.nu' --env-config='~/.config/nushell/env.nu'"
custom-shader-animation = true
auto-update-channel = tip

# custom-shader = /Users/kylecierzan/git/ghostty-shaders/cursor_smear.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/glow.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/bloom.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/tft.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/another-crt.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/authentic-crt.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/digital-4.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/digital-2.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/glow-rgbsplit-twitchy.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/bettercrt.glsl
# custom-shader = /Users/kylecierzan/git/ghostty-shaders/in-game-crt.glsl
# custom-shader = /Users/kylecierzan/.config/ghostty/shaders/scanbars.glsl
keybind = shift+enter=text:\n
