" =============================================================================
" Filename: autoload/lightline/colorscheme/termina.vim
" Author: Kyle Cierzan
" License: MIT License
" Last Change: 2019/05/12 20:30:51.
" =============================================================================

" Common colors
let s:fg     = [ '{{foreground}}', 145 ]
let s:blue   = [ '{{lightline_insert}}', 75 ]
let s:green  = [ '{{lightline_normal}}', 76 ]
let s:purple = [ '{{lightline_visual}}', 176 ]
let s:red1   = [ '{{lightline_replace}}', 168 ]
let s:red2   = [ '{{lightline_error}}', 168 ]
let s:yellow = [ '{{lightline_warning}}', 180 ]

let s:p = {'normal': {}, 'inactive': {}, 'insert': {}, 'replace': {}, 'visual': {}, 'tabline': {}}

if lightline#colorscheme#background() ==# 'light'
  " Light variant
  let s:bg     = [ '#fafafa', 255 ]
  let s:gray1  = [ '#494b53', 238 ]
  let s:gray2  = [ '#f0f0f0', 255 ]
  let s:gray3  = [ '#d0d0d0', 250 ]
  let s:green  = [ '#98c379', 35 ]

  let s:p.normal.left     = [ [ s:bg, s:green, 'bold' ], [ s:gray1, s:gray3 ] ]
  let s:p.normal.middle   = [ [ s:gray1, s:gray2 ] ]
  let s:p.inactive.left   = [ [ s:bg,  s:gray3 ], [ s:bg, s:gray3 ] ]
  let s:p.inactive.middle = [ [ s:gray3, s:gray2 ] ]
  let s:p.inactive.right  = [ [ s:bg, s:gray3 ] ]
  let s:p.insert.left     = [ [ s:bg, s:blue, 'bold' ], [ s:gray1, s:gray3 ] ]
  let s:p.replace.left    = [ [ s:bg, s:red1, 'bold' ], [ s:gray1, s:gray3 ] ]
  let s:p.visual.left     = [ [ s:bg, s:purple, 'bold' ], [ s:gray1, s:gray3 ] ]
else
  " Dark variant
  let s:bg     = [ '{{light_bg}}', 235 ]
  let s:gray1  = [ '{{lightest_bg}}', 241 ]
  let s:gray2  = [ '{{light_bg}}', 235 ]
  let s:gray3  = [ '{{lightest_bg}}', 240 ]

  let s:p.normal.left     = [ [ s:bg, s:green, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
  let s:p.normal.middle   = [ [ s:{{foreground}}, s:gray2 ] ]
  let s:p.inactive.left   = [ [ s:gray1,  s:bg ], [ s:gray1, s:bg ] ]
  let s:p.inactive.middle = [ [ s:gray1, s:gray2 ] ]
  let s:p.inactive.right  = [ [ s:gray1, s:bg ] ]
  let s:p.insert.left     = [ [ s:bg, s:blue, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
  let s:p.replace.left    = [ [ s:bg, s:red1, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
  let s:p.visual.left     = [ [ s:bg, s:purple, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
endif

" Common
let s:p.normal.right   = [ [ s:bg, s:green, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
let s:p.normal.error   = [ [ s:red2,   s:bg ] ]
let s:p.normal.warning = [ [ s:yellow, s:bg ] ]
let s:p.insert.right   = [ [ s:bg, s:blue, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
let s:p.replace.right  = [ [ s:bg, s:red1, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
let s:p.visual.right   = [ [ s:bg, s:purple, 'bold' ], [ s:{{foreground}}, s:gray3 ] ]
" let s:p.tabline.left   = [ [ s:{{foreground}}, s:gray3 ] ]
" let s:p.tabline.tabsel = [ [ s:bg, s:purple, 'bold' ] ]
" let s:p.tabline.middle = [ [ s:gray3, s:gray2 ] ]
" let s:p.tabline.right  = copy(s:p.normal.right)

let g:lightline#colorscheme#termina#palette = lightline#colorscheme#flatten(s:p)
